@media (max-width: 375px) {
    .main .container {
        display: grid;
        grid-template-areas: "social-media"
                             "multiple-platforms"
                             "posting-consistent"
                             "schedule-social-media"
                             "followers"
                             "audience"
                             "creat-post-ia"
                             "creat-post-ia";
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, auto);
        padding: 30px 20px;
    }

    .container .social-media .title {
        font-size: 5rem;
        line-height: 45px;
    }

    .container .social-media img {
        margin-top: 20px;
        width: 70%;
    }

    .container .social-media .informacoes {
        font-size: 2rem;
    }

    .multiple-platforms {
        overflow: unset;
        height: 170px;
        width: 100%;
        font-size: 2.3rem;
        padding: 20px;
        line-height: 20px;
    }

    .container .multiple-platforms img {
        width: 100%;
    }

    .container .posting-consistent {
        width: 100%;
        height: 220px;
        font-size: 2.5rem;
        padding: 10px 20px;
        line-height: 25px;
    }

    .container .posting-consistent img {
        width: 75%;
    }

    .container .schedule-social-media {
        overflow: unset;
        width: 100%;
        text-align: center;
        padding: 30px 20px;
    }

    .container .schedule-social-media .title-schedule {
        font-size: 2.3rem;
    }

    .container .schedule-social-media img {
        width: 100%;
    }

    .container .schedule-social-media .slogan-schedule {
        font-size: 1.8rem;
    }

    .container .followers {
        display: flex;
        flex-direction: column;
        font-size: 3rem;
        padding: 20px 50px;
        text-align: center;
    }

    .container .followers img {
        width: 100%;
        margin-bottom: 30px;
    }

    .container .audience .percentage {
        font-size: 5rem;
    }

    .container .audience img {
        width: 70%;
    }

    .container .creat-post-ia .creat-post {
        font-size: 2.9rem;
        height: 220px;
        padding: 30px;
        line-height: 25px;
    }

    .container .creat-post-ia .creat-post img {
        width: 65%;
    }

    .container .creat-post-ia .using-ia {
        font-size: 3rem;
        line-height: 25px;
    }

    .container .creat-post-ia .using-ia img {
        width: 70%;
        margin-top: 20px;
    }
}